body {
  background-image: url(spaceEarth.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.centered {
    text-align:center;
}

/*.home {
  background-image: url(spaceEarth.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.characterCreation {
  background-image: url(guardians.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}*/
