<div class="row">
  <div id="backToField">
    <h3>A Flurpy Homecoming...</h3>
      <p>
        You wander back into the field, sucking in every yummy thing you can find.
        The creatures do not return, and you are content to eat every single one of
        thier gifts to you.
        <br>
        Suddenly, the giant going through space very quickly sucking tube returns and
        scoops you up. You hurtle through space once again, and finally land right back
        in the pile you left a few short hours ago. You are enveloped in a heap of flurps
        that are ecstatic to see you once again. You share your story and are revered
        as the adventurer until the day you stop flurping.
        At which point, your pile sucks you up into thier mouthbellies.
      </p>
  </div>

  <div id="lifeForceCounter">
    <h4>Your Life Force is Currently at:  {{ lifeForces + 2 }}</h4>
  </div>
  <div class="progress progress-striped active">
  <div class="progress-bar" style="width: 100%"></div>
  </div>

</div>
