<div id="backToField">
You wander back into the field, sucking in every yummy thing you can find.
The creatures do not return, and you are content to eat every single one of
thier gifts to you.

Suddenly, the giant going through space very quickly sucking tube returns and
scoops you up. You hurtle through space once again, and finally land right back
in the pile you left a few short hours ago. You are enveloped in a heap of flurps
that are ecstatic to see you once again. You share your story and are revered
as the adventurer until the day you stop flurping.
At which point, your pile sucks you up into thier mouthbellies.
</div>
