<div class="col-md-8">
  <h3>Who are you and what do you look like?</h3>
    <form ng-submit="CharactersFactory.customize()" class="form-inline" role="form">
      <label for="name">What's your name?</label>
      <input type="text" name="name" ng-model="CharactersFactory.flurpName" class="form-control" required>
    <br>
      <label for="hair">What color is your hair?</label>
      <select type="text" id="hair" ng-model="CharactersFactory.hairColor" class="form-control">
        <option>brown</option>
        <option>black</option>
        <option>blue</option>
        <option>yellow</option>
        <option>snot green</option>
        <option>orange</option>
      </select>
    <br>
      <label for="tall">How Tall are you (ft)?</label>
      <input type="number" name="tall" ng-model="CharactersFactory.howTall" min=5 max=9>
    <br>
      <label for="wide">How big are you (lbs)?</label>
      <input type="number" id="wide" ng-model="CharactersFactory.weight" min=300 max=600>
    <br>
      <label for="eyes">What Color eyes do you have?</label>
      <select type="text"  id="eyes" ng-model="CharactersFactory.eyeColor" class="form-control" >
        <option >violet</option>
        <option>black</option>
        <option>white</option>
        <option>red</option>
        <option>blue</option>
      </select>
    <br>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>

<div ui-view> </div>
