<div class="col-md-8">
  <h3>Who are you and what do you look like?</h3>

  <form ng-submit="CharactersFactory.customize()" class="form-horizontal" role="form">
    <fieldset>
      <div class="form-group">
        <label for="name" class="col-lg-2 control-label">What is your star name?</label>
        <div class="col-lg-10">
          <input type="text" name="name" ng-model="CharactersFactory.flurpName" class="form-control" required>
        </div>
      </div>

      <div class="form-group">
        <label for="class" class="col-lg-2 control-label">What kind of life form are you?</label>
        <div class="col-lg-10">
          <select type="text" id="lifeForm" ng-model="CharactersFactory.lifeForm" class="form-control" required>
            <option value="human">Human</option>
            <option value="flurp">Flurp</option>
            <option value="rhodie">Rhodie</option>
            <option value="other">Undeclared</option>
          </select>
        </div>
      </div>


      <div class="form-group">
        <label for="hair" class="col-lg-2 control-label">What color is your hair?</label>
        <div class="col-lg-10">
          <select type="text" id="hair" ng-model="CharactersFactory.hairColor" class="form-control">
            <option>brown</option>
            <option>black</option>
            <option>blue</option>
            <option>yellow</option>
            <option>snot green</option>
            <option>orange</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label for="gender" class="col-lg-2 control-label">What is your gender?</label>
        <div class="col-lg-10">
          <select type="text" id="hair" ng-model="CharactersFactory.hairColor" class="form-control">
            <option>Female</option>
            <option>Male</option>
            <option>Non-binary</option>
            <option>Asexual</option>
            <option>I'm a flurp, we roll all ways</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label for="tall" class="col-lg-2 control-label">How tall are you (ft)?</label>
        <div class="col-lg-10">
          <input type="number" name="tall" ng-model="CharactersFactory.howTall" min=2 max=9>
        </div>
      </div>

      <div class="form-group">
        <label for="wide" class="col-lg-2 control-label">How big are you (lbs)?</label>
        <div class="col-lg-10">
          <input type="number" id="wide" ng-model="CharactersFactory.weight" min=25 max=600>
        </div>
      </div>

      <div class="form-group">
        <label for="eyes" class="col-lg-2 control-label">What color eyes do you have?</label>
        <div class="col-lg-10">
          <select type="text"  id="eyes" ng-model="CharactersFactory.eyeColor" class="form-control" >
            <option>violet</option>
            <option>black</option>
            <option>white</option>
            <option>red</option>
            <option>blue</option>
            <option>cheetah spots</option>
          </select>
        </div>
      </div>

      <button type="submit" class="btn btn-info">Submit</button>

    </fieldset>
  </form>
</div>

<div ui-view> </div>
