<div class="row">
  <div id="flurp2Earth">
    <h3>A Flurpy Earth Landing...</h3>
    <p>
      You find yourself smack dab in the middle of a flat fuzzy area, that is
      completely devoid of any sucking sounds whatsoever. There is however a number
      of strange creatures that do not look like any flurp you have ever seen. They
      have only four armlegs, and thier headbodies are on sideways! Their mouthbellies
      dangle off the side of thier headbodies and pull the fuzzy bits of the ground
      in with a crunching sound instead of a sucking sound. On the other side of the
      headbody a single tendril hung loosely, or swung lazily side to side. Many of
      the creatures lifted theier lumpy side mouthbellies off the ground and pointed
      them at you. Clearly, you are being greeted and should show your affection
      immediately.
      <br>
      You move towards your new friends and your trajectory takes you across the most
      delicious pile of yummy things you have ever tasted. The ground is covered in
      these little piles. Upon careful study, you notice that the strange not-very-
      flurpy-creatures are making the little piles themselves. The dangling tendril
      lifts into the air, and the yummy things just fall out of a second mouthbelly!
      <br>
      You are overcome with joy and must immediately greetthank these divine creatures!
      But how? Which mouthbelly do you suckle first?</p>
    </p>
  </div>

  <div class="choices">
    <ul>
      <li><button class="btn btn-xs btn-danger"><a ui-sref="lumpySide">Choose</a></button>  Lumpy side that crunches?</li>
      OR...
      <li><button class="btn btn-xs btn-info"><a ui-sref="tendrilSide">Choose</a></button>  Tendril side that makes yummy things?</li>
    </ul>
  </div>
  <br>

  <div id="lifeForceCounter">
    <h4>Your Life Force is Currently at:  {{ lifeForces + 1 }}</h4>
  </div>
  <div class="progress progress-striped active">
    <div class="progress-bar" style="width: 70%"></div>
  </div>

</div>
