<div class="row">
  <div id="flurpCowLump">
    <h3>A Flurpy cow kiss</h3>
      <p>You approach the creature's lumpy side and reach out with as many armfeet as you
          can. It jumps back and takes off running and all of the other creatures take off
          running with it. Assuming this is a part of the greeting of this magical creature,
          you trail behind it as it lumbers towards what looks like a really big red pile!
          As you knuckle run towards the pile, you see a smaller group of creatures to the
          left that are different from the ones you are following. They are similarly
          shaped, but smaller and pink. Thier mouthbellies protrude from thier side lump
          in a tube shape, and thier tendril is held high in the air but curls around itself.
          The wet ground has gotten all over them and they seem happy to
          root around in it. More importantly, several of them are clearly in a suckling
          pile! You can see the different shapes and you can hear comforting sucking noises!</p>
  </div>
  <div class="choices">
    <ul>
      <li><button class="btn btn-xs btn-danger"><a ui-sref="lumpySide">Choose</a></button>  Do you continue to follow the first creatures you encountered?</li>
          OR...
      <li><button class="btn btn-xs btn-info"><a ui-sref="tendrilSide">Choose</a></button>    Do you join the sucking pile of small pink creatures?</li>
    </ul>
  </div>
    <br>

    <div id="lifeForceCounter">
      <h4>Your Life Force is Currently at:  {{ lifeForces + 1 }}</h4>
    </div>
    <div class="progress progress-striped active">
    <div class="progress-bar" style="width: 90%"></div>
    </div>
</div>
