<div class="row">
  <div id="FlurpOpening">
    <h2>In the beginning...</h2>
    <p>As far as the eye can see, the land of the flurps is covered alternately in
      smooth pink rock and the glistening, pulsating piles of flurpkind.
      <br>
      {{lifeForms.flurpName}} was snuggled peacefully on the outskirts of his favorite pile,
      when an unusual sucking noise caught the attention of all the nearby flurps.
      Now, sucking noises are not particularly uncommon on flurponia, but this was
      more of a giant whooshing noise.
      Everyone excitedly opened their eyes on the side of the pile that the noise was
      coming from, and saw a strange light emminating from what seemed to be a very
      big new flurp friend. It was round like a flurp, but it did not seem to have any
      armlegs like a flurp. It's mouthbelly was turned towards the pile, so noone
      could see its headbody. Still, the flurps became very excited and rushed to
      welcome the newcomer with Many open armlegs.
      <br>
      You are the closest, and the first to reach your new friend, so, as is customary
      for greeting a stranger in flurponia, you throw your arms around them and....
      Instead of finding a mouthbelly to hug and suckle, your armfeet close around your
      own body. You are swept into the air and drawn into the mouthbelly of
      your new friend.
      <br>
      This is not an uncommon occurance on flurp. Sometimes, a
      flurp stops flurping, and the pile sucks them into their mouthbellies.
      Othertimes, a smallish flurp will drop out of a mouthbelly and begin to flurp.
      So sliding in and out of a mouthbelly is really no concern to a flurp at all.
      In fact, generally, nothing is of concern to a Flurp.
      <br>
      This mouthbelly you are being drawn into is decidedly different than what
      you expected. Instead of the ecstasy of melting into your new friend, you feel
      like you are moving very very fast through space inside of what looks like
      a long, shiny tube. In the direction you are moving, you see the tube spilt
      into 3 different directions.
      <br>
      Now, flurps are awfully sensitive and can feel things very deeply. When you see
      the tube for going very very fast in space split up, you feel different things
      coming from each direction.</p>
    </div>

    <div id="FlurpOpening" style="text-align: left;">
      <ul>
        <li><button class="btn btn-xs btn-info" value="3"><a ui-sref="flurp2Earth">Choose</a></button>  From the first direction, you can feel intelligence and heavy furryness...</li>
        <br>
        <li><button class="btn btn-xs btn-warning" value="3"><a ui-sref="flurp2Earth">Choose</a></button>  From the second, you can feel adventure and slight fuzziness...</li>
        <br>
        <li><button class="btn btn-xs btn-danger" value="3"><a ui-sref="flurp2Earth">Choose</a></button>  From the third, you can feel warmth and hardness...</li>
      </ul>
      Which way would you like to go {{lifeForms.flurpName}}? The choice is yours.</p>
    </div>

    <div id="lifeForceCounter">
      <h4>Your Life Force is Currently at:  {{ lifeForces }}</h4>
    </div>
    <div class="progress progress-striped active">
      <div class="progress-bar" style="width: 50%"></div>
    </div>
  </div>
