<div class="row">
  <div id="pigPen">
    <h3>A Flurpy cow kiss</h3>
      <p>You have come close enough to see that the red thing is no pile, so you turn
      your attention to the pink pile. Yare overcome by the sensation of feeling home
      for the first time since the tube sucked you in. There is an obstacle that
      seems to surround the small pink pile. It is not tall though and you can easily
      climb over it and dive in on top of the pile. You suckle your new friends with
      wild abandon and they taste amazing!!! Very quickly however, you notice that your
      new friends have dissapeared. They did taste amazing... perhaps they stopped
      flurping so you could suck them in? You will most certainly see them again some
      day.
      <br>
      The ground in this area does not taste quite as good, so it is time to move on.
      A new thing has come into view behind where the little pink pile was. You don't
      have words for it, because it is not a pile, and it is not a flurp. At the same
      time you yearn to go home. Perhaps, if you return to where you arrived in this
      strange place, the giant sucking tube thingy will come back and take you home.</p>

  <div class="choices">
    <ul>
      <li><button class="btn btn-xs btn-danger"><a ui-sref="farmHouse">Choose</a></button>What could that thing be?</li>
      OR...
      <li><button class="btn btn-xs btn-info"><a ui-sref="backToField">Choose</a></button>I miss my flurpies!</li>
    </ul>
  </div>

  <div id="lifeForceCounter">
    <h4>Your Life Force is Currently at:  {{ lifeForces - 1 }}</h4>
  </div>
  <div class="progress progress-striped active">
  <div class="progress-bar" style="width: 70%"></div>
  </div>

</div>
