<div id="flurpCowPoop">
You dive at the yummy-things producing side of your new flurp friend and wrap
as many arms around it as you can. To your utter surprise, your new friend
uses thier armfeet to push you away very hard and very quickly many times.
It also makes a sound that is nothing like sucking at all. It is like when the
wind howls through the piles back home - erie and low.
Perhaps they are not used to such exuberant cuddling. They are much smaller...
In the midst of the confusion and struggle to let go of your new friend,
another creature apears behind you. It is a much stranger creature. It also has
only four armlegs, but it only has two on the ground, and the other two are left
to dangle from its headbody. The extra lump on this creature sits on top of the
headbody and it too is making a strange noise. Perhaps the greetings are
different in this part of flurbonia?
You feel a new sensation when approching the new creature
study human
greet human
</div>
